<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AstroFront</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FrontAstro.styles.css" asp-append-version="true" />
     <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>
<body>
    <header>
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AstroFront</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav> *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <script src="~/js/crudPerguntas/deletar.js" asp-append-version="true"></script>
    <script src="~/js/crudPerguntas/editar.js" asp-append-version="true"></script>
    
    <script src="~/js/variaveis.js" asp-append-version="true"></script>
    <script src="~/js/visibilidade.js" asp-append-version="true"></script>
    <script src="~/js/tags.js" asp-append-version="true"></script>
    <script src="~/js/responder.js" asp-append-version="true"></script>
    <script src="~/js/requisicao.js" asp-append-version="true"></script>
    <script src="~/js/perguntas.js" asp-append-version="true"></script>
    <script src="~/js/animacoes.js" asp-append-version="true"></script>
  

    <script src="~/js/listas/editarLista.js" asp-append-version="true"></script>
    <script src="~/js/listas/listas.js" asp-append-version="true"></script>
    <script src="~/js/listas/responder.js" asp-append-version="true"></script>
    <script src="~/js/listas/visibilidade.js" asp-append-version="true"></script>
    <script src="~/js/listas/perguntas.js" asp-append-version="true"></script>
    <script src="~/js/listas/requisicoes.js" asp-append-version="true"></script>
    <script src="~/js/listas/tags.js" asp-append-version="true"></script>

    <script src="~/js/listas/enviarLista.js" asp-append-version="true"></script>


    <script src="~/js/iniciar.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
