@{
    ViewData["Title"] = "Home Page";
}
<div class="main container">

    <div class="home-container">

        <h1 class="home-titulo titulo">AstroGenerator</h1>
        <div class="home-inputBox">
            <button type="button" class="home-botao btn btn-primary perguntasElemento"
                onclick="toggleListaElemento(), consultarPerguntasComCallback(criarListaPerguntas), adicionarAnimacaoERemover('cardListas'), toggleElementEntrar('entrarElementos'), togglePerguntasElemento(), apagarElementosParaCriarLista()">Nova Lista</button>
        </div>

    </div>
</div>

<div class="perguntas perguntasElemento listaElemento d-none">

    <div id="pesquisa" class="animate__animated animate__fadeIn tagsBox">

        <label class="titulo" for="pesquisaQuestoes">Pesquisar Questoes:</label>

        <input type="text" id="pesquisaQuestoesLista" oninput="pesquisarComDebounceListas()">
        

        <label class="titulo" for="pesquisaTags">Pesquisar Tags:</label>
        <input type="text" id="pesquisaTags" oninput="pesquisarTagsCallBack(criarListaDeTagsLista)">

        <button class="home-botao botao btn btn-primary"
            onclick="resetarQuantidadeTAGs(), consultarPerguntasComCallback(criarListaPerguntas)">Limpar</button>
        <button class="home-botao botao btn btn-primary" onclick="aumentarQuantidadeTAGs()">Mais</button>
    </div>

    <ul id="listaDeTagsLista" class="d-none perguntasElemento listaElemento"></ul>

</div>

<div class="container-pesquisarListas perguntasElemento">

    <label class="titulo" for="pesquisarListas">Pesquisar Listas:</label>
    <input type="text" id="pesquisarListas" oninput="pesquisarComAtrasoListas()">

</div>

<div id="cardListas" class="container mt-3"></div>

<div class="selecionarPerguntas container mt-3">

    <ul id="listaDePerguntas" class=""></ul>

    <div class="formPerguntasSelecionadas">
        <form id="formPerguntaSelecionadas" class="perguntasElemento listaElemento d-none">
            <!-- Adicione a classe 'list-group' à ul para usar os estilos do Bootstrap -->

            
            <h1>Lista</h1>
            <label for="inputNome">Nome:</label>
            <input type="text" id="inputNome" name="nome" class="form-control" placeholder="Digite o nome">

            <label for="inputDescricao">Descrição:</label>
            <input type="text" id="inputDescricao" name="descricao" class="form-control" placeholder="Digite a descrição">

            <!-- Adicione a classe 'btn btn-primary' para usar os estilos do Bootstrap -->
            <button id="btnEnviarLista" class="btn btn-primary" onclick="enviarListaPerguntas()">Enviar Lista</button>

            <ul id="listaPerguntasSelecionadas" class="list-group"></ul>
        </form>
    </div>

</div>

<div class="caixaResponderLista container mt-3">

    <div id="divPergunta" class="row">
        <!-- Aqui será adicionado dinamicamente o conteúdo da pergunta -->
    </div>
    <div id="mensagemResposta" class="row d-none"></div>

    <div id="responderLista" class="row">
        <!-- Aqui será adicionado dinamicamente o conteúdo da pergunta -->
    </div>
</div>

<div class="editarLista container mt-3">

    <div id="listaPerguntasSelecionadasEditar" class="row"></div>

    <div id="listaDePerguntasEditar" class="row"></div>

</div>
