@{
    ViewData["Title"] = "Home Page";
}
<div class="main">


    <div class="home-container">

        <h1 class="home-titulo titulo">AstroGenerator</h1>

        <p class="home-paragrafo paragrafo">Use AstroGenerator to explore and learn about different astronomical topics.</p>

        <div class="home-inputBox">
            <button type="button" class="home-botao botao" onclick="toggleElement('perguntasElemento')" >Criar Lista</button>
            <button type="button" class="home-botao botao" onclick="obterListas()">Exibir Listas</button>
        </div>

    </div>

    <div class="home-status">
        <div class="home-statusBox">     
        </div>
    </div>


</div>


<div class="perguntas perguntasElemento d-none">
    <h1>Perguntas</h1>

    <button onclick="consultarPerguntasParaCriarLista()">Consultar Perguntas para criar Lista</button>
    <button onclick="toggleTags()">Mostrar/Esconder Tags</button>

    <div id="pesquisa" class="">
        <label for="pesquisaTags">Pesquisar Tags:</label>
        <input type="text" id="pesquisaTags" oninput="pesquisarTags()">
        <button onclick="carregarTags()">Limpar</button>
    </div>

    <ul id="listaDeTags" class="d-none perguntasElemento"></ul>
    <ul id="listaDePerguntas"></ul> 

    <h3>Perguntas Selecionadas</h3>
<ul id="listaPerguntasSelecionadas"></ul>

<button id="btnEnviarLista" onclick="enviarListaPerguntas()">Enviar Lista</button>

<form id="formularioPerguntas">
    <label for="inputNome">Nome:</label>
    <input type="text" id="inputNome" name="nome" placeholder="Digite o nome">

    <label for="inputDescricao">Descrição:</label>
    <input type="text" id="inputDescricao" name="descricao" placeholder="Digite a descrição">
</form>

</div>



<div id="cardListas">
    
</div>


<script>
    
   


</script>
