html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-size: 1.15rem;
  
  background-color: #f2f2f2;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.main
{
  display: flex;
  
  align-items: center;
  flex-direction: column;

  /* usar uma cor bem clarinha */


  border: 40px;

  padding: 1rem;

  gap: 1rem;
 
  

}

/* criar variaveis de cor */



.home-container
{
  text-align: center;
  
  display: flex;
  flex-direction: column;
  gap: 2rem;


  padding: .5rem;

  border-radius: 20px;
 
}

.home-status
{
  text-align: center;

  
  padding: 2rem;

  border-radius: 20px;

    background-color: aliceblue;

  
}

@media (max-width: 750px) {

  .home-questao, .home-container, .home-status {
    width: auto;
    height: auto;
  }
}

.home-alternativas
{
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  flex-direction: column;

}

#listaDeTags
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}

li
{
  list-style: none;
}



.perguntas
{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;

  
 
}

#botaoMostrarTags, #botaoMostrarPerguntas
{
  width: 10rem;
}

.hidden
{
  display: none;
}

.perguntasContainer
{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

}

.pergunta-card
{
  cursor: pointer;
  width: 25rem;
  border-radius: 20px;

  background-color: aliceblue;

  padding: .3rem;
}

.pergunta-card > div
{
  padding: .5rem;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  transition: all .3s ease-in-out;


}

/* hover */

.pergunta-card:hover
{
  /* colocar uma cor leve, mas mais escura que aliceblue */
  background-color: #e6f0ff;

}


.tag-pergunta 
{
  background-color: #258cfb;
  padding: .5rem;
  border-radius: 10px;
  color: white;
}

.tag-ul
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .1rem;
}

.home-enunciado
{
  text-align: center;
}

.home-questao
{

  border-radius: 20px;
  padding: .8rem;

  background-color: aliceblue;
}

.alternativa
{
  border-radius: 10px;
  padding: 1rem;
}

.titulo
{
  text-align: center;
  /* cor que combine com alice blue */
  color: #258cfb;
  /* espaço entre as letras */
  letter-spacing: 1px;

  /* bold*/
  font-weight: bold;
}

.home-inputBox
{
  display: flex;
  gap: .5rem;
  justify-content: center;
}

.input
{
  border-radius: 10px;
  width: 50%;
}

.home-botoes
{
  display: flex;
  gap: .5rem;
  justify-content: center;
  flex-wrap: wrap;
}