html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-container
{
  text-align: center;
}

.home-status
{
  text-align: center;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.home-questao, .home-container, .home-status
{
  width: 50rem;
}

.home-alternativas
{

  display: flex;
  justify-content: space-between;
  gap: .5rem;
  flex-direction: column;
}
